---
import Layout from '#layouts/Layout.astro';
import { getCollection } from 'astro:content';

const formEntries = await getCollection('form');
const form = formEntries[0]?.data;

if (!form) {
    return Astro.redirect('/404');
}

const about = form.pages.about;
---

<Layout title={about.title}>
	<div class="mt-8 max-w-2xl">
		<h1 class="text-4xl md:text-5xl mb-8">{about.title}</h1>
		<div class="prose prose-lg">
			<p>{about.content}</p>
		</div>
        <div class="mt-12">
            <a href="/" class="btn-primary">Back to Form</a>
        </div>
	</div>
</Layout>
